<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="陈贤民" />

   <link href="http://chenxianmin.github.com/atom.xml" rel="alternate" title="贤民的blog" type="application/atom+xml" />   

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>


  <div class="site">

    {{ content }}

    <div class="footer clearfix">


      <div class="rss">
        <a href="http://feeds.feedburner.com/chenxianmin"><img src="/images/feed-icon.png" title="feed" /></a>
      </div>
      <div class="contact">
        <img class="portrait" src="/images/cxm.jpg"/>
        <div class="title"><a href="/">a blog by 陈贤民</a></div>
        <div><a href='/all'>archives</a> ~ <a href='/tags/'>tag cloud</a></div>
        <div>Find me on <a href="https://plus.google.com/105950376775498801837/posts">Google+</a> ~ <a href="http://xianmin.lofter.com">Lofter</a></div>
      </div>

    </div>
  </div>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {lang: 'zh-CN', parsetags: 'explicit'}
</script>
<g:plusone annotation="inline"></g:plusone>
<script type="text/javascript">gapi.plusone.go();</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27420885-1']);
  _gaq.push(['_setDomainName', 'chenxianmin.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
